/* GENERAL */

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

/* HEADER */

.head {
    background-color: #9FD9DA;
    margin-left: auto;
    margin-right: auto;
}

.head-brand {
    padding-top: 0;
}

.header-logo {
    height: 60px;
}

.header-profile-img {
    height: calc(55px - 10px);
    border: 3px solid #e7717d;
}

#header-right {
    margin: 0 0 0 auto;
}

#nav-ul li:first-child {
    margin-left: 70px !important;
}

nav li .nav-link {
    color: #000000 !important;
    font-size: 18px;
    margin-left: 30px !important;

}

.head-brand-text {
    margin: 0 !important;
    font-size: 1.5em;
    font-weight: bold;
}

.icoNav {
    display: none;
}

/* FOOTER */

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

.foot p {
    margin-bottom: 0;
}

/* OTHER */

.algn-l{
    text-align: left !important;
}

.algn-r{
    text-align: right !important;
}

.premium-text {
    color: #ff0000;
}

/* CUSTOM MEDIA QUERIES */

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

#dropdownHeaderButton {
    background-color: transparent !important;
    box-shadow: none;
}

/* CUSTOM MEDIA QUERIES */

@media (min-width: 768px) and (max-width: 1000px) {
    .icoNav {
        display: block;
    }

    .textNav {
        display: none;
    }
}

@media (max-width: 767px) {
    .icoNav {
        display: inline-block;
    }

    #nav-ul li:first-child {
        margin-left: 0px !important;
    }

    /*.header-profile-sm {*/
    /*!*margin: 0 auto !important;*!*/
    /*!*transform: translate(26%);*!*/
    /*}*/
    .header-profile-img {
        width: 1.25em !important;
        height: 1.25em !important;
        border: 0;
    }
}
