#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 20px;
    margin: 15px auto;
    max-width: 95%;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

.toRed{
    color: red;
}
.toRed:hover{
    color: #830005;
    cursor: pointer;
}

.del-img{
    display: inline-block;
    position: absolute;
    top: -10px;
    right: 0;
}

.btn-spacing {
    letter-spacing: 0.2em;
}