/* GENERAL */

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    min-height: 667px;

}

body {
    position: relative;
    margin: 0;
    padding-bottom: 48px;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

/* HEADER */

.head {
    /*background-color: #9FD9DA;*/
    /*background-color: #2387d3;*/
    background-color: #5f5f5f;
    margin-left: auto;
    margin-right: auto;
}

.head .active {
    color: white;
}

.head-brand {
    padding-top: 0;
}

.header-logo {
    height: 60px;
}

.header-profile-img {
    height: calc(55px - 10px);
    /*border: 3px solid #e7717d;*/
    border: 3px solid #FFB4A2;
}

#header-right {
    margin: 0 0 0 auto;
}

#nav-ul li:first-child {
    margin-left: 70px !important;
}

nav li .nav-link {
    color: #000000 !important;
    font-size: 18px;
    margin-left: 30px !important;

}

.textNav, .textRightNav, .fa-fw {
    color: rgba(255, 255, 255, 0.8);
}

.head-brand-text {
    margin: 0 !important;
    font-size: 1.5em;
    font-weight: bold;
}

.icoNav {
    display: none;
}

/* FOOTER */

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

.foot p {
    margin-bottom: 0;
}

/* LOGIN */
#landingPage {
    position: relative;
    background: url("../img/landingpage/house.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

#loginForm {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px !important;
    border: solid black 1px;
    border-radius: 10px;
    background: rgba(255,255,255, 0.7);
    padding: 0 60px;
}

/* HOUSE */
.carousel {
    max-height: 600px;
    overflow: hidden;
}

.item img {
    width: 100%;
    object-fit: cover;
}


/* OTHER */

.algn-l {
    text-align: left !important;
}

.algn-r {
    text-align: right !important;
}

.premium-text {
    /*color: #59ff7b;*/
    color: #FFB4A2 !important;
}

/* CUSTOM MEDIA QUERIES */

#dropdownHeaderMenu {
    right: 0 !important;
    left: auto !important;
}

.dropdown-menu h6, .dropdown-menu p {
    color: #000 !important;
}

#dropdownHeaderButton {
    background-color: transparent !important;
    box-shadow: none;
}

.bg-color-background {
    background-color: #f1f1f1;
}

/* CUSTOM MEDIA QUERIES */

@media (min-width: 768px) and (max-width: 1000px) {
    .icoNav {
        display: block;
    }

    .textNav {
        display: none;
    }
}

@media (max-width: 767px) {
    .icoNav {
        display: inline-block;
    }

    #nav-ul li:first-child {
        margin-left: 0px !important;
    }

    .header-profile-img {
        width: 1.25em !important;
        height: 1.25em !important;
        border: 0;
    }

    #landingPage {
        background: rgba(241,241,241, 1.0);
    }

    #loginForm {
        width: 100%;
        max-height: calc(100% - 76px);
        border: 0;
        background: 0;
    }
}
