header {
  #nav-ul li:first-child {
    margin-left: 70px !important;
  }
  nav li .nav-link {
    color: #000000 !important;
    font-size: 18px;
    margin-left: 30px !important;
  }
}

#dropdownHeaderMenu {
  right: 15px !important;
  left: auto !important;
  width: 200px;
  margin-top: -45px;
  padding: 10px;
}

.dropdown-menu {
  h6, p {
    color: #000 !important;
  }
}

#dropdownHeaderButton {
  background-color: transparent !important;
  box-shadow: none;
  color: #f1f1f1 !important;
  padding-left: 5px;
  padding-right: 0;
}

.head {
  background-color: #5f5f5f;
  margin-left: auto;
  margin-right: auto;
  .active {
    color: white;
  }
}

.head-brand {
  padding-top: 0;
}

.header-logo {
  height: 60px;
}

.header-profile-img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border: 3px solid #FFB4A2;
}

.vivienda-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 3px solid #FFB4A2;
}

#header-right {
  margin: 0 0 0 auto;
}

.nav-pills > li.active > a {
  color: #fff;
  background-color: #428bca;
  &:hover, &:focus {
    color: #fff;
    background-color: #428bca;
  }
}

#dropdownHeaderMenu {
  .header-profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 3px solid #FFB4A2;
    margin: 0;
  }
  .col-4, .col-8 {
    padding: 0;
  }
}

header .textNav, .textRightNav, .fa-fw {
  color: rgba(255, 255, 255, 0.8);
}

.head-brand-text {
  margin: 0 !important;
  font-size: 1.5em;
  font-weight: bold;
}

header .icoNav {
  display: none;
}

.bg-main {
  background-color: #FFB4A2 !important;
}


@media (min-width: 768px) and (max-width: 1000px) {
  header .icoNav {
    display: block;
  }
  header .textNav {
    display: none;
  }
}

@media (max-width: 767px) {
  header .icoNav {
    display: inline-block;
  }
  header #nav-ul li:first-child {
    margin-left: 0px !important;
  }
  .header-profile-img {
    width: 1.25em !important;
    height: 1.25em !important;
    border: 0;
  }
}