.carousel {
  max-height: 600px;
  overflow: hidden;
}

.menu-padding {
  padding-top: 56px !important;
}

.item img {
  width: 100%;
  object-fit: cover;
}

#scrollspy {
  background-color: #7a7a7a !important;

  a {
    color: rgba(255, 255, 255, 0.92);
    text-transform: uppercase;
  }

}

.boxed {
  border: 1px solid black;
}



.bg-color-background {
  background-color: #f1f1f1;
}

.card-show * {
  text-decoration: none;
  color: black;
}

.card-show:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  & * {
    text-decoration: none;
    color: black;
  }
}

@media (min-width: 767px) {
  .select2-container {
    width: 66% !important;
  }
}
@media (max-width: 767px) {
  .select2-container {
    width: calc(100% - 38px) !important;
  }
}
