.nombreReciever {
  margin-left: 50px;
}

.mensajes {
  margin: 50px;
}

#cardsmensajes {
  width: 100%;
  table-layout: fixed;
  display: block;
}

.containerM {
  border: 2px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.containerM::after {
  content: "";
  clear: both;
  display: table;
}

.containerM img {
  float: left;
  max-width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.containerM img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
.modal-header {
  color: white;
  background-color: #5f5f5f;

}


.modal-body{
  max-height: 350px;
  overflow-y: auto;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: initial !important
}
@media(max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}